<a href="https://colab.research.google.com/github/irmtou/CS577FinalProject/blob/main/CS577FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets
# import warnings
# warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('ca_san_diego_2020_04_01.csv')
display(df.head(10))

,raw_row_number,date,time,service_area,subject_age,subject_race,subject_sex,type,arrest_made,citation_issued,...,outcome,contraband_found,search_conducted,search_person,search_vehicle,search_basis,reason_for_search,reason_for_stop,raw_action_taken,raw_subject_race_description
0,1,2014-01-01,01:25:00,110,24.0,white,male,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,WHITE
1,2,2014-01-01,05:47:00,320,42.0,white,male,vehicular,False,False,...,warning,NaN,False,False,False,NaN,NaN,Moving Violation,Verbal Warning,WHITE
2,3,2014-01-01,07:46:00,320,29.0,asian/pacific islander,male,vehicular,False,False,...,warning,NaN,False,False,False,NaN,NaN,Moving Violation,Verbal Warning,LAOTIAN
3,4,2014-01-01,08:10:00,610,23.0,white,male,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,WHITE
4,5,2014-01-01,08:35:00,930,35.0,hispanic,male,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Equipment Violation,Citation,HISPANIC
5,6,2014-01-01,08:39:00,820,30.0,hispanic,male,vehicular,False,False,...,warning,NaN,False,False,False,NaN,NaN,Equipment Violation,Verbal Warning,HISPANIC
6,7,2014-01-01,09:13:00,710,19.0,hispanic,female,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,HISPANIC
7,8,2014-01-01,09:50:00,120,32.0,white,male,vehicular,False,False,...,warning,NaN,False,False,False,NaN,NaN,Moving Violation,Written Warning,WHITE
8,9,2014-01-01,10:00:00,120,36.0,white,male,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,WHITE
9,10,2014-01-01,10:40:00,120,27.0,hispanic,male,vehicular,False,True,...,citation,NaN,False,False,False,NaN,NaN,Moving Violation,Citation,HISPANIC


From observations, here is a reference of all categories
* Index - Indexing from 0
* `raw_row_number` - Indexing from 1
* `date` - yyyy-mm-dd
* `time` - 01:25:00
* `service_area` - Integer
* `subject_age` - Float
* `subject_race` - String
* `subject_sex` - String
* `type` - String
* `arrest_made` - Boolean
* `citation_issued` - String
* `outcome` - String
* `contraband_found` - NaN  
* `search_conducted` - Boolean
* `search_person` - Boolean
* `search_vehicle` - Boolean
* `search_basis` - NaN
* `reason_for_search` - NaN
* `reason_for_stop` - String
* `raw_action_taken` - String
* `raw_subject_race_description` - String

## Some Exploratory Data Analysis

Just a surface level analysis of our dataset


### Datatypes of variables


- Numerical data: `float64`, `int64`
- Categorical data: `object`

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383027 entries, 0 to 383026
Data columns (total 21 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   raw_row_number                383027 non-null  object
 1   date                          382844 non-null  object
 2   time                          382292 non-null  object
 3   service_area                  383027 non-null  object
 4   subject_age                   371064 non-null  float64
 5   subject_race                  381793 non-null  object
 6   subject_sex                   382366 non-null  object
 7   type                          383027 non-null  object
 8   arrest_made                   348284 non-null  object
 9   citation_issued               351056 non-null  object
 10  warning_issued                351056 non-null  object
 11  outcome                       343855 non-null  object
 12  contraband_found              16288 non-null   object
 13  search_conducted              383027 non-null  bool
 14  search_person                 380837 non-null  object
 15  search_vehicle                380837 non-null  object
 16  search_basis                  16288 non-null   object
 17  reason_for_search             14278 non-null   object
 18  reason_for_stop               382808 non-null  object
 19  raw_action_taken              351056 non-null  object
 20  raw_subject_race_description  381793 non-null  object
dtypes: bool(1), float64(1), object(19)
memory usage: 58.8+ MB

## Number of null values in the dataset

In [6]:
missing_values = df.isnull().sum()
missing_values

raw_row_number                       0
date                               183
time                               735
service_area                         0
subject_age                      11963
subject_race                      1234
subject_sex                        661
type                                 0
arrest_made                      34743
citation_issued                  31971
warning_issued                   31971
outcome                          39172
contraband_found                366739
search_conducted                     0
search_person                     2190
search_vehicle                    2190
search_basis                    366739
reason_for_search               368749
reason_for_stop                    219
raw_action_taken                 31971
raw_subject_race_description      1234
dtype: int64

## Finding the percentage of null or missing values

In [7]:
null_percentage = (df.isnull().sum() / len(df)) * 100
null_percentage

raw_row_number                   0.000000
date                             0.047777
time                             0.191892
service_area                     0.000000
subject_age                      3.123279
subject_race                     0.322170
subject_sex                      0.172573
type                             0.000000
arrest_made                      9.070640
citation_issued                  8.346931
warning_issued                   8.346931
outcome                         10.226955
contraband_found                95.747558
search_conducted                 0.000000
search_person                    0.571761
search_vehicle                   0.571761
search_basis                    95.747558
reason_for_search               96.272325
reason_for_stop                  0.057176
raw_action_taken                 8.346931
raw_subject_race_description     0.322170
dtype: float64

## Checking for duplicates

In [8]:
df.nunique()

raw_row_number                  383027
date                              1186
time                              1440
service_area                        25
subject_age                         91
subject_race                         5
subject_sex                          2
type                                 1
arrest_made                          2
citation_issued                      2
warning_issued                       2
outcome                              3
contraband_found                     2
search_conducted                     2
search_person                        2
search_vehicle                       2
search_basis                         5
reason_for_search                  632
reason_for_stop                     97
raw_action_taken                   166
raw_subject_race_description        18
dtype: int64

## Split yyyy-mm-dd into Year, Month, and Day

In [9]:
df['date']= pd.to_datetime(df['date'],format='%Y-%m-%d')
df['year']= df['date'].dt.year
df['month']= df['date'].dt.month
df['day']= df['date'].dt.day

# Split hh-mm-ss into Hour, Minute, and Second